[color]
	ui = auto
[core]
	abbrev = 12
[push]
	default = simple
[user]
	email = moritz.petersen@freenet.de
	name = Moritz Petersen
	signingkey = DF224B2B
[log]
	abbrevCommit = yes
[alias]
	ds = diff --stat
	ci = commit -v
	co = checkout
	lc = diff HEAD~1..HEAD
	lcs = diff --stat HEAD~1..HEAD
	st = status --short
