@document domain(github.com)

{
    div.blob-wrapper div.data {
	tab-size: 4 !important;
	-moz-tab-size: 4 !important;
    }

    div.type-scheme {
	tab-size: 2 !important;
	-moz-tab-size: 2 !important;
    }
}
